* {
  font-family: Garamond;
}
body {
  color:#fff;
  background:#fff;
}
footer {
  font-size:1.3em;
  color: #404040;
  font-weight:bolder;
}
/*Header*/
.navbar-brand {
	padding-right: 50px;
}
#headerNav {
  width: 100%;
  height: 100%;
  background-color:#F4F3F0;
  color: #404040;
  }
#navbarNav {
  text-align: center;
  margin-left:-16px;
  margin-right: -16px;
}
.nav-link {
  color:#404040;
  font-size: 22px;
  font-weight: bolder;
}
.btn {
  color:#404040;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 50px;
}
.nav-link:hover {
  color:#959493;
}
.custom-toggler.navbar-toggler { 
  margin-right: 2px;
  border:2px solid #404040;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border:2px solid #669900;
}
.custom-toggler .navbar-toggler-icon { 
  background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 
p.text-center {
  color:#404040;
  font-size: 2em;
  font-weight: bolder;
  margin-top:12px;
}
#mainCont {
  color:#404040;
  background-color: #F4F3F0;
  padding-top: 15px;
  width:90%;
  margin-bottom:15px;
}
p.text-justify {
  margin: 15px;
}
h3 {
  font-weight: 500;
}
.dropdown .dropdown-menu {
  border-radius:120;
 }
@media (min-width: 768px) {  
.dropdown:hover .dropdown-menu {
    display: block;
    background: none;
    margin-top: 0;
  border-radius:0;
 }
}